a {
  text-decoration: none;
}

.page-header {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;

  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-container {
    display: flex;
    align-items: center;
  }

  &__purchase-navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.logo__title {
  color: aqua;
}

.purchase-navigation {
  &__basket {
    display: flex;
    align-items: center;
    color: aquamarine;
    margin-right: 25px;
    cursor: pointer;
  }

  &__favourites {
    display: flex;
    align-items: center;
    color: bisque;
    cursor: pointer;

    & img {
      margin-right: 10px;
    }
  }
}
