body {
  margin: 0;
  box-sizing: content-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1 1 auto;
  background-color: rgb(114, 112, 111);
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.sub-container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.control-btns-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
